header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat:no-repeat ;
    padding: 20px;
    border-radius: 5px;
    width:1300px;
    height: 400px;

}
body{
    background-color:#f2f2fc;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10px 40px 25px;
}
nav li{
    color: #4E47FF;
    font-size: 25px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul a button{
    text-decoration: none;
    font-size:15px ;
    color: #4E47FF;
    background-color: #4E47FF;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

nav h3{
    color: #4E47FF;
    font-size: 32px;
    
}
.butto{
    text-decoration: none;
    font-size:15px ;
    color: #4E47FF;
    background-color: #4E47FF;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    justify-content:center;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.banner{
    display: flex;
    padding: 300px 50px;
     justify-content:space-between;

}

div h2{
    text-align:center;
    font-size:xx-large;
}

div h3{
    font-weight: bold;
    font: size 80px;
    font-size: xx-large;
}

.banner-pic{
    width: 403px;
    height: 250px;
    border-radius: 50px;
}

.banner-description{
    color: #41404e;
    text-align: left;
}
.btn-ban{
    text-decoration: none;
    font-size:10px ;
    color: #4E47FF;
    background-color: #4E47FF;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.stats-container{
    background-color: #eef0ff;
    padding: 40px 20px;
    border-radius: 15px;
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}

.stats-container h2{
    color: #2e2e2e;
    margin-bottom: 30px;
    font-weight: 600;
    text-align:left ;
}

.stats-boxes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 220px;
}

.stat{
    margin: 10px;
}

.stat h3{
    font-size: 32px;
    color: #4f46e5;
    margin-bottom: 5px;
    font-weight: bold;
}

.stat p{
    font-size:14px;
    color: #555;
    margin: 0;
}

section div{
    display: flex;
    
    flex-wrap: wrap;
    padding: 0px 20px 10px 15PX ;
    border-radius: 15px;
    text-align: center;
    max-width: 50px;
    margin: 30px auto;
    margin-bottom: 30px;
    border: none;

    
}

section div h2{
    font-weight: bold;
    text-align: center;
    padding: 0px 10px;
    font-size: 50px;
}

.big-det{
    text-align: center;
}

#for{
    font-weight: bold;
    font-size: 50px;
}

#pera{
    color: #9b9aa3;
}

.bu{
    text-decoration: none;
    font-size:15px ;
    color: #4E47FF;
    background-color: #4E47FF;
    color: white;
    padding: 0px 35px;
    border-radius: 5px;
    border: none;
    display: flex;
}

#big-con{
    size: 20px;
    height: 364.77px;
    width: 840px;
    border-radius: 50px;
    object-fit:cover;
}

#Touch{
    text-align: center;
    font-size: 50px ;
}

.boro{
    font-size: large;
    font-weight: 300px;
    font-size: 20px;
}

.contact{
    background:#ffffff ;
    padding: 60px 20px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

input,textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button{
    background:#635bff ;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

footer{
    background:#f0f0f0 ;
    text-align: center;
    padding: 30px;
    background-color: white;
}
.footer-logo{
    font-size: 70px;
    color: #4f46e5;
    font-weight: bold;
}

#peraa{
    font-size: small;
    color: #8987A1;
}

footer a :hover{
    gap: 10px;
    text-decoration: none;
    color: greenyellow;
}

